body{
    background-color: #2c3e5063;
}
.container{
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(1, 1, 1); */
}

.store{
  width: 55% ;
  height: auto;
  background-color: rgb(105, 158, 161);
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.boxes{
  border-radius: 0.2cm;
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.boxes h2{
  color: antiquewhite;
}